# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Dependências
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Build / temp
dist/
.cache/

# Env
.env*.local
